.opacity-60 {
  opacity: 0.6;
}
.text-body-1 {
  font-weight: normal !important;
  line-height: 1.3 !important;
}
.narrow-page {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  color: rgb(var(--v-theme-link));
}